BasedOnStyle: LLVM

Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

Cpp11BracedListStyle: true

ReflowComments: true
FixNamespaceComments: true
SortUsingDeclarations: true
